.filtro-container {
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
    gap: 1rem;
}

.filtro-pais {
    width: 50%;
}

.filtro-ciudad {
    width: 50%;
    margin-right: 10px;

}


.aeropuertoLista {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    height: 70vh;
    overflow: auto;
    gap: 1rem;

}

/* Fallback para navegadores que no admiten scrollbar-width */
.aeropuertoLista::-webkit-scrollbar {
    width: 8px;
    background: #ffffff27;
}

.aeropuertoLista::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 4px;

}